body {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

.gallery-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

.gallery-item {
    width: 240px;
    height: 320px;
    padding: 10px;
    background-color: white;
    margin: 10px;
}
.gallery-container {
    width: 80%;
    height: 300px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    margin-left:10%;
}

.gallery-item {
    width: 180px;
    height: 320px;
    background-color: transparent;
    margin: 10px;
    border-radius: 10px;
}
.gallery-item img {
    width: 180px;
    height: 320px;
    height: auto;
    border-radius: inherit;
}
.gallery-item img:hover {
    cursor: pointer;
    box-shadow:5px 5px 10px #E8ECEB,-5px -5px 10px #262626 ;
}