* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgMainContainer {
    position: absolute;
    border-radius: 25px;
    border: 1px solid #8EFBD3;
    width: 80%;
    min-height: 85vh;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}
/*******************************Calendar Top Navigation*********************************/
div#calendar{
    margin:0px auto;
    top: 10px;
    padding:0px;
    width: 80%;
    font-family:Helvetica, "Times New Roman", Times, serif;
}

div#calendar div.box{
    position:relative;
    top:0px;
    left:0px;
    width:100%;
    height:60px;
}
div#calendar div.header {
    display: flex;
    justify-content: space-between;
    line-height: 60px;
    top:0px;
}
#button_des{
    display: flex;
    justify-content: space-between;
    width: 40px;
    height: 60px;
    text-align: center;
    margin: 0px;
    font-size:14px;
}
.fa-angle-left,.fa-angle-right{
    color: grey;
    font-size: 18px;
}
div#calendar div.header a.prev,
div#calendar div.header a.next{
    text-decoration:none;
}
div#calendar div.header span.title{
    font-size:18px;
}





/*******************************Calendar Content Cells*********************************/

.dates {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

}
.days {
    padding: 20px;
    border-radius: 10px;
    margin: 1px;
    height: 15px;
    width: 12px;
    opacity: 0.3;
    cursor: pointer;
}
.owl-item {
    width : 50px !important;
}
.owl-stage-outer{
    width : 100% !important;
}
.owl-stage{
    width : 1600px !important;
}
/*******************************Main Content Divs*********************************/

.content {
    display: none;
}
.content.active {
    height: 50vh;
    width: inherit;
    display: flex;
    flex-direction: column;
    position: relative;
}

.content.today {
    padding: 0px;
}
.numID {
    display: none;
}
colourSelector {
    display: none;
}

.top {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

/*********************Show music details***************/
.info {
     width: 600px;
    text-align: center;
}
.moodImg{
    position: relative;
    margin: 20px;
}
.insideDiv .imgBx {
    position: relative;
}
.insideDiv .imgBx img {
    transition: 10s;
    width: 200px;
    height: 240px;
    margin: 20px;
}

.insideDiv .InfiniteScroll {
    position: absolute;
    margin: 20px;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 240px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    transform: scale(1);
    visibility: hidden;
    transition: .2s ease-in-out;
}

.insideDiv:hover .InfiniteScroll {
    transform: scale(1);
    visibility: visible;
}
i.fab.fa-spotify{
    color: #1ED760;
    font-size: 48px;
    margin-top: 80px;
    margin-bottom:50px;
}
@media (max-width: 1080px) {
    .container{
        height: 80px;
    }
    .moodImg{
        display: none;
    }
    .info {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
@media (max-width: 760px) {
    .info {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

    }
    .info  p{
        display: none;
    }
}

/*********************Infinite text scroll***************/
.InfiniteScroll {
    overflow: hidden;
}
.text {
    margin: 0 auto;
    white-space: nowrap;
    position: absolute;
    font-size: 18px;
    overflow: hidden;
    color: white;
}
.text {
    display: inline-block;
    animation: textScroll 8s linear infinite ;
    width:100%;
}
@keyframes textScroll {
    0% {
        transform: translate(80%, 0);
    }
    100% {
        transform: translate(-150%, 0);
    }
}


p.colourSelector {visibility: hidden;}

/*******************************Diary Entry Form*********************************/

/*****choose emotion****/
#regForm {
    font-family: Raleway;
    width: 100%;
    min-width: 300px;
    justify-content: center;
    height: inherit;
}

h1, p, td {
    text-align: center;
}
.tab {
    display: none;
    position: relative;
    text-align: center;
    height: inherit;
}
.qs_Mood{
    text-align: center;
}

.moods {
    display: flex;
    position: relative;
    top: 55%;
    left: 55%;
    transform: translate(-50%,-50%);
}

.card.card{
    line-height: 130px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin: 6px ;
    border-radius: 10px;
    width: 135px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    color: black;
    cursor:pointer;
}
@media (max-width: 1520px) {
    .card.card{
        line-height: 90px;
        width: 95px;
    }
    .moods {
        left:58%;
        top: 48%;
    }
}
@media  (max-width: 780px) {
    .card.card{
        line-height: 70px;
        width: 75px;
        font-size: 11px;
    }
    .moods {
        left: 50%;
    }
}

@media (max-width: 640px) {
    .card.card{
        line-height:60px;
        width: 65px;
        font-size: 9px;
    }
    .moods {
        left: 46%;
    }

}
/***Mood Cards***/
.card.card-1{
    background: #FFDB7A;
}
.card.card-2{
    background: #FFEEA6;
}
.card.card-3{
    background: #FFB7BA;
}

.card.card-4{
    background: #FFD4D5;
}

.card.card-5{
    background: #BAB7FA;
}

.card.card-6{
    background: #FFAF72;
}

.card.card-7{
    background: #B1F2D0;
}

.card.card-8{
    background: #ff9863;
}

.card.card-9{
    background: lightgreen;
}

.card.card-10{
    background: darkorchid;
}

.card.card-11{
    background: lightblue;
}

.card.card-12{
    background: lightsalmon;
}

.card.card-13{
    background: darkblue;
}

.card.card-14{
    background: lightcoral;
}

.card.card-15{
    color: #1DC8CD;
}

.first-button {
    color: #1DC8CD;
    font-size: 18px;
    border: none;
    height: 90px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin: 6px ;
    border-radius: 10px;
    width: 90px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}
.first-button:hover {
    box-shadow: 5px 5px 10px #E8ECEB,
    -5px -5px 10px #262626;
}

@media (max-width: 1080px) {
    .tab {
        margin-left: -10%;
    }
}
@media (max-width: 760px) {
    .tab {
        margin-left: -10%;
    }
}
/**********=============================================********/

input {
    display: none;
}


/* Hide all steps by default: */
.buttonsNavForm{
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@media (max-width: 1520px) {
    .buttonsNavForm{
        top: 23%;
    }
}
button {
    color: #ffffff;
    border: none;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}

/**********Previous and next container holder**********/

#prevBtn {
    background-color: #bbbbbb;
}
#nextBtn:active{
    background: linear-gradient(145deg, #E8ECEB, #E8ECEB);

}

/* Make circles that indicate the steps of the form: */
.step {
    height: 4px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
   width: 20px;
    display: inline-block;
    opacity: 0.5;
    border-radius: 10px;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #1DC8CD;
}
/*******************************Choose Image CSS*********************************/
.myButton {
    background-color:#ededed;
    border-radius:10px;
    display:inline-block;
    cursor:pointer;
    color:#3a8a9e;
    font-family:Arial;
    font-size:17px;
    text-decoration:none;
    justify-content: center;
    align-items: center;
    margin-left:80%;
    margin-top: 4px;
    color: #A8A8A8;
    width: 150px;
}
.myButton:hover {
    border: solid 1px rgba(29, 224, 153, 1) ;
    color: rgba(29, 224, 153, 1) ;
}
.myButton:active {
    position:relative;
}
i.fas.fa-sync-alt{
    color: rgba(29, 224, 153, 1) ;
    font-size: 12px;
    margin: 0;

}


/***************Diary css**************/
textarea.entry-textbox {
    position: relative;
    width:80%;
    height: 600px;
    padding: 1em;
    margin-bottom: 0.5em;
    border-radius: 25px;
    background-color:#55fabe;
    border: unset;
    border: none;
    border-color: none;

}
@media (max-width: 1580px) {
    textarea.entry-textbox {
        height: 325px;

    }
}


/***************Spotify Styling Last Diary Entry**************/
.song_details{
    width: 518px;
    height: 518px;
}
.spotifyImg_rectrack {
    display: flex;
    position: relative;
}
.Bg_Image{
    width: 518px;
    height: 518px;
    position: relative;
    margin-left: 50%;
}
.internal_img_details{
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%,-50%);
}
.Bg_Image img{
    width: 280px;
    height: 280px;
    filter: blur(8px);
    position: relative;
    border: 1px solid #8EFBD3;
    top: 2%;

}
.track_Img img{
    filter: none;
    width: 180px;
    height: 180px;
    margin-top: 50%;
}
@media (max-width: 920px) {
    .spotifyImg_rectrack{
        display: inline;
    }
    .artist_Info{
        display: none;
    }
    .Bg_Image{
        margin-left: 10%;
    }
}
/************No entry present*******************/
.none_entry{
    margin-left: 25%;
    margin-top: 20%;
    color: #868E96;
}
.frown_Emoji{
    position: absolute;
    top:40%;
    left:48%;
    transform: translate(-50%,-50%);
}
i.fa.fa-frown{
    font-size: 72px;
    color:lightgrey ;
}

@media (max-width: 1520px) {
    .none_entry{
        margin-left: 20%;
        margin-top: 15%;
        color: #868E96;
    }
    .frown_Emoji{
        position: absolute;
        top:40%;
        left:50%;
        transform: translate(-50%,-50%);
    }
}
@media (max-width: 1080px) {
    .none_entry{
        margin-left: 20%;
        margin-top: 15%;
        color: #868E96;
        font-size: 24px;
    }
    .frown_Emoji{
        position: absolute;
        top:40%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    i.fa.fa-frown{
        font-size: 64px;
        color:lightgrey ;
    }
}
@media (max-width: 890px) {
    .none_entry{
        margin-left: 20%;
        margin-top: 20%;
        color: #868E96;
        font-size: 24px;
    }
    .frown_Emoji{
        position: absolute;
        top:40%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    i.fa.fa-frown{
        font-size: 64px;
    }
}
@media (max-width: 718px) {
    .none_entry{
        margin-top: 25%;
        font-size: 18px;
    }
    i.fa.fa-frown{
        font-size: 58px;
    }
}
@media (max-width: 540px) {
    .none_entry{
        margin-left: 10%;
        margin-top: 25%;
        color: #868E96;
        font-size: 16px;
    }
    .frown_Emoji{
        position: absolute;
        top:30%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    i.fa.fa-frown{
        font-size: 48px;
    }
}
/*****************Artist Info******************/
.artist_Info{
    position:absolute;
    top:30%;
    left: 30%;
    transform: translate(-50%,-50%);
}
